<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ page.title }}</title>
  <link rel="icon" href="/assets/favicon-32x32.gif" type="image/gif" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="/assets/css/styles.css" />
  {% if page.js %}
  <script src="/assets/js/{{ page.js }}" defer></script>
  {% endif %} {% feed_meta %} {% seo %}
</head>
