@import 'utils';

.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;
  background-color: #010001;
  background-image: url('/assets/images/background-water.webp');
  background-position: 0 0;
  background-repeat: repeat;
  background-size: 8%;
  height: 100vh;
  margin: 0;

  #enter-link {
    position: relative;
    width: 80%;
    max-width: 35rem;

    img {
      width: 100%;
    }

    .enter-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      &:hover {
        background: rgba(255, 255, 255, 0.1);
      }
    }
  }
}
