<svg viewBox="0 0 100 100">
  <path
    class="line-top"
    d="M 20,30 H 80"
    stroke="currentColor"
    stroke-width="6"
    stroke-linecap="round"
    transform-origin="26 40"
  />
  <path
    class="line-middle"
    d="M 20,50 H 80"
    stroke="currentColor"
    stroke-width="6"
    stroke-linecap="round"
    stroke-dasharray="60 60"
  />
  <path
    class="line-bottom"
    d="M 20,70 H 80"
    stroke="currentColor"
    stroke-width="6"
    stroke-linecap="round"
    transform-origin="26 60"
  />
</svg>
