---
---

<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="icon" href="/assets/favicon-32x32.gif" type="image/gif" >
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/styles.css">
    {% feed_meta %}
    {% seo %}
  </head>
  <body>
    {% include header.html %}
    <div class="sidebar-content-wrap">
      {% include sidebar.html %}
      <div class="content-body">
        {{ content }}
      </div>
    </div>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const words = ["welcome", "contact", "collab!?", "lurk further..."];
        const heading = document.getElementById("rotating-heading");
        if (!heading) return;  // in case the element isn't on every page
        let i = 0;

      setInterval(() => {
        i = (i + 1) % words.length;
        heading.textContent = words[i];
      }, 2000); // change every 2 seconds (2000ms)
    });
    </script>
  </body>
</html>
